html,
body {
    height: 100%;
    overflow: hidden;
}

.Loop {
    position: relative;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

section {
    position: relative;
    text-align: center;
    min-height: 300px;
    max-height: 700px;
    height: 80%;
}

::scrollbar {
    display: none;
}

body {
    font-family: 'IBM Plex Mono', serif;
    font-size: 100%;
    margin: 0px;
}

.red {
    background: #a01c48;
}
.green {
    background: #3cba92;
}
.blue {
    background: #041251;
}
.purple {
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

div.receipts{
    width: 100%;
	display: flex;
	justify-content: center;
}
div.receipts p{
    text-align: center;
    padding: 6vw;
    margin: 0px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 30px;
    color: #fff1eb;
}
#questionable:hover{
	background-color: #fff1eb;
	color: #fff1eb;
	background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
}
footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #ff9059;
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 15%;
}
div.address p{
margin: 5px;
text-align: center;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
	text-decoration: none;
	-webkit-animation: hoverchange 2s infinite; 
	animation: hoverchange 2s infinite;
}
a:active {
	text-decoration: none;
}

@-webkit-keyframes hoverchange {
	0%  {color: #00dbde;}
	50% {color: #fc00ff;}
	100%  {color: #00dbde;}
}
@keyframes hoverchange {
    0%  {color: #00dbde;}
    50% {color: #fc00ff;}
	100%  {color: #00dbde;}
}   
